{# prettier ignore-start #}
{% extends "layout.html" %} 

<!-- extra -->
{% load static %}
{% load socials_extras %} 

<!-- title -->
{% block title %} Social Book - Home {% endblock %} {%block content %}
<!-- Main Content -->
<div class="flex-1 pt-4">
  <div class="max-w-[680px] mx-auto p-4">
    <!-- Upload a post -->
    <div class="bg-white rounded-lg shadow-[0_1px_2px_rgba(0,0,0,0.2)] mb-4"> 
      <form action="upload" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="p-4">
          <div class="flex items-center">
            <div
              class="w-[40px] h-[40px] rounded-full bg-gray-300 flex items-center justify-center mr-3"
            >
              <img
                src="{{ user.profile.profilepic.url }}"
                alt="Profile Picture"
                class="rounded-full w-full h-full object-cover"
              />
            </div>
            <textarea
              name="caption"
              id=""
              class="flex-1 bg-[#f0f2f5] rounded-full py-2 px-4 focus:outline-none text-[15px]"
              placeholder="What's on your mind?"
            ></textarea>
          </div>
        </div>
        <div class="border-t border-[#dadde1] p-2 flex justify-between px-4">
          <!-- Upload picture -->
          <div class="relative">
            <p
              data-type="photo"
              id="photo-toggle"
              class="photo-toggle flex items-center cursor-pointer text-[#65676b] hover:bg-[#f0f2f5] px-2 py-1 rounded-md text-[15px]"
              enctype="multipart/form-data"
            >
              <i class="fas fa-image text-[#45bd62] mr-2"></i> Photo
            </p>
            <input
              type="file"
              name="image_upload"
              id="photo-input"
              accept="image/*"
              class="hidden absolute left-0 top-full mt-1 bg-white shadow-md p-2 border rounded-md"
              enctype="multipart/form-data"
            />
          </div>

          <!-- Upload video -->
          <div class="relative">
            <p
              data-type="video"
              id="video-toggle"
              class="video-toggle flex items-center cursor-pointer text-[#65676b] hover:bg-[#f0f2f5] px-2 py-1 rounded-md text-[15px]"
            >
              <i class="fas fa-video text-[#f3425f] mr-2"></i> Video
            </p>
            <input
              type="file"
              name="video_upload"
              id="video-input"
              accept="video/*"
              class="hidden absolute left-0 top-full mt-1 bg-white shadow-md p-2 border rounded-md"
            />
          </div>

          <button
            class="button bg-blue-700 px-4 py-2 rounded-2xl"
            type="submit"
          >
            Upload
          </button>
        </div>
      </form>
    </div>

    <!-- main feed section using reusable post component -->
    {% for post in posts %}
      {% include 'components/post_card.html' with post=post show_delete_option=True show_comments=True %}
    {% endfor %}
  </div>
</div>
{% endblock %} {# prettier ignore-end #}
