{# prettier ignore-start #}
{% extends "layout.html" %} 

<!-- extra -->
{% load static %}
{% load socials_extras %} 

<!-- title -->
{% block title %}{{ post.user.username }}'s Post | Social Book{% endblock %} 

<!-- block -->
{% block content %}
<div class="max-w-2xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  
  <div class="bg-gray-300 rounded-xl shadow-lg mb-4 p-4 flex items-center justify-center">
    <h2 class="text-blue-500 text-xl md:text-3xl font-bold drop-shadow-lg">
        {{ post.user.username }}'s Post
    </h2>
  </div>
  <!-- Saved Post Cards -->

  {% include 'components/post_card.html' with post=post show_delete_option=True show_comments=True %}
</div>
{% endblock %} 
{# prettier ignore-end #}
