{# prettier ignore-start #}
{% extends "layout.html" %} 

<!-- extra -->
{% load static %}
{% load socials_extras %} 

<!-- title -->
{% block title %} Social Book - Saved Posts {% endblock %} {% block content %}
<!-- Main Content -->
<div class="flex-1 pt-2">
  <div class="max-w-[680px] mx-auto px-4 py-2">
    <!-- top -->
    <div class="bg-gray-300 rounded-xl shadow-lg mb-8 p-6 flex items-center justify-center">
        <i class="fas fa-bookmark text-blue-500 text-xl md:text-3xl mr-4"></i>
        <h2 class="text-blue-500 text-xl md:text-3xl font-extrabold tracking-tight drop-shadow-lg">
            Saved Posts
        </h2>
    </div>
 
    <!-- main feed section and Image Post with Real Photo -->
    {% if posts %}
    {% for post in posts %}
      {% include 'components/post_card.html' with post=post show_delete_option=False show_comments=True %}
    {% endfor %}
    {% else %}
    <div class="text-center py-4">
      <p class="text-gray-500 text-xl">No saved posts found.</p>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %} {# prettier ignore-end #}